* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






html {
    background-color: black;
}



body {
    font-family: arial;
    background-color: #fff;
    opacity: 1;
    transition: 2s opacity;
}

body.fade-out {
    opacity: 0;
    transition: nones;
}



h2 {
    text-align: center;
    font-size: 5vw;

}
